{% extends "hss_ranking/base.html" %}
{% block content %}
        <div class="col-sm-12 col-md-12 col-lg-12 main">
          <div class="table-responsive">
            <table id="table-games" class="table table-striped">
              <thead>
                <tr>
                  {% for col in table.columns %}
                      <th>{{col}}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for r in table.rows %}
                    <tr>
                    {% for c in r %}
                        <td>{{c}}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
{% endblock %}

