{% extends "hss_ranking/base.html" %}

{% block header-content %}
        <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-10 col-md-10 col-lg-10 main">
          <h1 class="page-header">
              {% load django_bootstrap_breadcrumbs %}
              {% block breadcrumbs %}
                  {% if state %}
                      {% breadcrumb state.name state.id%}
                      {% if division %}
                           {% breadcrumb division.name division.id %}
                           {% if conference %}
                               {% breadcrumb conference.name conference.id %}
                               {% if team %}
                                   {% breadcrumb team.name team.id %}
                               {% endif %}
                           {% endif %}
                      {% endif %}
                  {% endif %}
              {% endblock %}
              {% render_breadcrumbs %}
          </h1>
        </div>
        <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-10 col-md-10 col-lg-10 main">

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>
        </div>
        <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-10 col-md-10 col-lg-10 main">

{% block content %}
{% endblock %}
          <div class="table-responsive">
            <table id="teams-table" class="table table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Rank</th>
                  <th>Team</th>
                  <th>Wins</th>
                  <th>Loses</th>
                  <th>Elo</th>
                </tr>
              </thead>
              <tbody>
                {% for r in team_rankings %}
                    {% for c in r %}
                        {% cycle '<tr>' '' '' '' '' '' %}
                           <td>{{c}}</td>
                        {% cycle '' '' '' '' '' '</tr>' %}
                    {% endfor %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
{% endblock %}

