{% extends "hss_ranking/base.html" %}

{% block content %}
      <div class="container-fluid">
        <div class="col-sm-5 col-md-5 col-lg-5">
            <div class="well details">
                <div class="col-sm-12">
                    <div class="col-xs-12 col-sm-8">
                        <h2 style="text-decoration:underline;">Ann Arbor Huron</h2>
                        <p><strong>Conference: </strong>SEC </p>
                        <p><strong>Rank: </strong>1 </p>
                        <p class="text-center skills"><strong>Stats</strong></p>
                        <div class="skillLine"><div class="skill pull-left">Offense</div><div class="rating" id="rate1"></div></div>
                        <div class="skillLine"><div class="skill pull-left">Defense</div><div class="rating" id="rate2"></div></div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-1 text-center">                        
                        <figure>
                            <span class="fa fa-file-text-o" style="font-size:127px; padding-top: 20px;"></span>                                 
                            <span style="font-size:47px; padding-top: 20px;">Form</span>                                 
                            <span class="avg">9</span>           
                        </figure>
                    </div>
                </div>                
            </div>
        </div>
        <div class="col-sm-7 col-md-7 col-lg-7">
            <img src="http://chart.apis.google.com/chart?chxr=0,0,3000&chxt=y&chs=520x140&cht=lc&chco=76A4FB,80C65A&chd=s:Tdjpsvyvttmiihgmnrst,OTbdcfhhggcTUTTUadfk&chls=2|2&chma=40,20,20,30" width="600" height="400" alt="" />
        </div>
      </div>

      <div class="container-fluid">
        <div class="col-md-11 col-lg-11 col-sm-11">
          <h2 class="sub-header">Teams</h2>
          <div class="table-responsive">
            <table id="schedule-table" class="table table-striped">
              <thead>
                <tr>
                  <th>Opponent</th>
                  <th>Also Opponent</th>
                  <th>Score</th>
                  <th>Also Score</th>
                </tr>
              </thead>
              <tbody>
                {% for r in team_schedule %}
                    {% for c in r %}
                        {% cycle '<tr>' '' '' '' %}
                           <td>{{c}}</td>
                        {% cycle '' '' '' '</tr>' %}
                    {% endfor %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
       </div>

{% endblock %}
{% block extras %}

<style>
body {
    font-family: "Segoe UI", 'sans-serif';
}

.avg {
    font-size:77px; 
    padding-top: 20px;
    color:#5CB85C;
}

.details {
    min-height: 355px;
    display: inline-block;
}

.rating {
    padding-left:40px;
}

.skillLine {    
    display:inline-block;
    width:100%;
    padding: 3px 4px;    
}

.skills {
    text-decoration:underline;
}

div.skill {
    background: #F58723;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 3px 4px;    
    width:70px;
}
</style>

<!-- you need to include the shieldui css and js assets in order for the charts to work -->
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/shieldui-all.min.css" />
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

<script type="text/javascript">
jQuery(function ($) {
    $('#rate1').shieldRating({
        max: 7,
        step: 0.1,
        value: 6.3,
        markPreset: false
    });
    $('#rate2').shieldRating({
        max: 7,
        step: 0.1,
        value: 6,
        markPreset: false
    });
    $('#rate3').shieldRating({
        max: 7,
        step: 0.1,
        value: 3,
        markPreset: false
    });
    $('#rate4').shieldRating({
        max: 7,
        step: 0.1,
        value: 5,
        markPreset: false
    });
    $('#rate5').shieldRating({
        max: 7,
        step: 0.1,
        value: 5.7,
        markPreset: false
    });
});
</script>
<!-- User Details - END -->
{% endblock %}
